
@media screen and (max-width: 600px), screen and (max-height: 400px) {
	.url {
		opacity: 0 !important;
	}
}

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;

	background: #000;

	position: relative;

	overflow: hidden;

	-webkit-font-smoothing: subpixel-antialiased;
}

#sites {
	position: absolute;
	top: 50%;
	left: 50%;

	margin-top: -webkit-calc((-228px * 3) / 2);

	text-align: left;

	opacity: 0.0;
	-webkit-transition: opacity .4s linear;
}

.tile {
	display: inline-block;

	cursor: default !important;

	position: relative;

	width: 200px;
	height: 200px;
	padding: 10px;
	margin: 4px;

	font-size: 100px;
	line-height: 200px;
	font-family: "Futura", sans-serif;
	text-align: center;
	text-decoration: none;

	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);

	color: #fff;

	-webkit-user-select: none;

	-webkit-transition: -webkit-transform .3s ease-out, background .5s ease-in;

}

.tile:hover,
.tile:active {
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);

	box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.5);

/*	-webkit-transition-property: box-shadow;
	-webkit-transition-duration: .1s;
	-webkit-transition-timing-function: linear;*/
}

.tile:active {
	box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.8);
}

.tile.animate {
	z-index: 1000;
	color: rgba(0,0,0,0);
	text-shadow: none;
	box-shadow: none;

/*	-webkit-transition-duration: .2s;
	-webkit-transition-timing-function: cubic-bezier;*/
}

.url {
	font-size: 16px;
	line-height: 16px;

	display: inline-block;

	position: absolute;

	width: 100%;

	text-align: center;

	left: 0;
	bottom: 20px;

	opacity: 1.0;
	-webkit-transition: opacity 0.2s linear;
}
