#submit-btn:after {
	content: ' __MSG_popup_add_tile__';
}

canvas {
	display: none;
}

input.abbrev {
	width: 100px;
	height: 54px;
	box-sizing: border-box;

	font-size: 36px;
	text-align: center;
}

button.add {
	width: 100px;
	height: 32px;
}