
body {
	font-family: sans-serif;

	padding: 0;
	margin: 0;
}

#wrapper {
	/*width: 200px;
	height: 200px;*/

	padding: 0;
	margin: 0;
}

.waiting {
	width: 100%;
	text-align: center;

	position: absolute;
	top: -webkit-calc(50% - 7px);
	left: 0;

	font-size: 14px;
	line-height: 14px;

	color: #999;
}
