#rename-btn:after {
	content: ' __MSG_popup_rename_tile__';
}

#remove-btn:after {
	content: ' __MSG_popup_remove_tile__';
}

button.btn {
	width: 100px;
}

input.abbrev {
	width: 100px;
	height: 54px;
	box-sizing: border-box;

	font-size: 36px;
	text-align: center;
}