.container {
	width: 100%;
	padding: 10px 20px;

	box-sizing: border-box;
}

.form-horizontal .controls {
	margin-left: 0;
}

.controls input,
.controls button,
.controls .btn,
.controls .url {
	margin-right: 4px;
}

.controls .action-buttons {
	display: inline-block;
}

.controls .input-nano {
	width: 25px;
}

.controls a.btn.handle {
	cursor: pointer;
}

.controls .url {
	width: 380px;
}

.controls .abbreviation {
	width: 34px;
}

.controls .color {
	padding: 0 2px;
	width: 42px;
	height: 28px;
}

#success.hide {
	display: inline-block;

	opacity: 0;

	-webkit-transition: opacity 1s linear;
}

#success.show {
	display: inline-block;

	opacity: 1;
}

.hidden {
	display: none;
}

canvas {
	display: none;
}

.primary,
.secondary {
	float: left;
}

.primary {
	margin-left: 20px;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
	background-color: #08C;
	color: #fff;
}

.nav-tabs > li > a:hover {
	color: #005580;
}

.nav-tabs > li > a > i.icon-chevron-right {
	float: right;
	margin-top: 2px;
	opacity: 0.5;
}

.nav-tabs > li > a:hover > i.icon-chevron-right {
	opacity: 0.75;
}

.nav-tabs > li.active > a > i.icon-chevron-right {
	opacity: 1.0;
}

.tab-pane {
	width: 738px;
}

.tab-pane h2 {
	padding-bottom: 5px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}