.form-horizontal .controls {
	margin-left: 0;
}

.btn-toolbar {
	display: inline-block;
	margin: 0;

	vertical-align: middle;
}

.controls > .btn {
	margin-right: 4px;
}

#success.hide {
	display: inline-block;

	opacity: 0;

	-webkit-transition: opacity 1s linear;
}

#success.show {
	display: inline-block;

	opacity: 1;
}

.container.hidden {
	display: none;
}

canvas {
	/*display: none;*/
}