.form-horizontal .controls {
	margin-left: 0;
}

.controls > .btn {
	margin-right: 4px;
}

.controls .action-buttons {
	display: inline-block;
}

.controls .input-nano {
	width: 25px;
}

.controls a.btn.handle {
	cursor: pointer;
}

#success.hide {
	display: inline-block;

	opacity: 0;

	-webkit-transition: opacity 1s linear;
}

#success.show {
	display: inline-block;

	opacity: 1;
}

.hidden {
	display: none;
}

canvas {
	display: none;
}